{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tantum Projects</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'landing_page/assets/img/Tfavicon.png' %}" rel="icon">
          
  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex align-items-center">
        
        <!--h3 class="logo me-auto"--> <img src="{% static 'landing_page/assets/img/Tfavicon.png' %}" style="height:25px; width: 25px;"></a>
          <a  style="color:darkgreen; font-size: x-large; background-color: antiquewhite; padding-bottom: 10px; font-family: 'Times New Roman', Times, serif;padding-top: 18px;padding-bottom: 18px;">TANTUM PROJECTS</a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
               
                  
                <div class="project1">
                    <!--h1 style="font-size:xx-large; color:rgb(3, 3, 19); text-align:center;">PROJECTS</h1-->
                    <br>
                    <h1 style="color:darkgreen;">1.Mobile App Testing</h1>
                    <img src="{% static 'landing_page/assets/img/mobile.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                    <p style="font-size:large;">Identifying the right mobile app testing company can be tricky as mobile apps have to be continuously tested to ensure great functionality, performance, and user engagement.
                    <br>  we focus on delivering End-to-End mobile app testing services that will help you roll out your mobile apps without any hassle.
                    <br>  From the starting line to the finish line, we’ll be with you every step of the way. </p>
                </div>    
                <div class="project2">
                        
                        <h1 style="color:darkgreen;;">2.Automation Testing</h1>
                        <img src="{% static 'landing_page/assets/img/automation.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                    
                    <p style="font-size:large;">You can trust with our automation testing. We’ve got the experience and knowledge to ensure your testing is done right. It does it all: web, mobile, desktop, gaming, car infotainment systems, and mixed reality applications. Our automation testing services will help you to test your applications across multiple platforms, devices, browsers, and wearable devices. It leaves no stone unturned to ensure ultimate testing success.

                    <p style="font-size:large;">We don’t stop there. We re-run every test with every new iteration of code. This allows us to ensure the application is free from any potential errors. When we identify errors, we isolate the how and why.</p>
                    
                   <p style="font-size:large;"> Reap the benefits of automated testing: short execution times that maximize productivity. Our software test automation approach has saved many projects from failure by addressing false positives and negatives. If you’re looking for more from your automated test suites, contact us. Our team of experts has the knowledge and customer service to ensure an incredible experience.
                    </p>
                </div>  
                <div class="project3">
                        
                    <h1 style="color:darkgreen;;">3.Game Testing</h1>
                    <img src="{% static 'landing_page/assets/img/game.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                
                <p style="font-size:large;">Game Testing Services ensure your games work well across platforms including desktop, console, mobile devices, and tablets. The most talked about game in 2016 would probably be “Pokemon Go”.<br> There is a survey that says – playing Pokemon Go helps you lose weight! Well, that’s a surprise ‘Value’ you benefit from besides the expected entertainment features.

                   <br> A little thought on “What differentiates different games and game providers” would probably touch upon crucial aspects including – Time to Market, Act upon User feedback & Regular Updates/Releases.<br> You can easily fit in modern software engineering practices to Game development. Be it Waterfall or Agile. <br>The development team is divided into smaller units that manage some aspect of the delivery, namely – Creativity & Graphics, Programming, Usability, QA /Testing, etc.
                    
                   <br> With so many pieces going in, it also becomes equally important to have effective test cycles, so that the end user receives a product with great quality.</p>
            </div>
            <div class="project4">
                        
                <h1 style="color:darkgreen;;">4.E-learning Testing</h1>
                <img src="{% static 'landing_page/assets/img/elearning.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
            
            <p style="font-size:large;"> Elearning app testing services ensure the quality of your interactive e-learning applications, learning & content management systems. <br>If a question is asked on what is the critical element of an e-learning software or LMS (Learning management system), then probably it is – the verification of the learnability of the content.
               <br> Though content forms a significant section of what needs to be tested, we go beyond that to validate several other parameters such as usability & performance that enable the platform’s users to have an uninterrupted learning experience.
                
                </div>
                <div class="project5">
                        
                    <h1 style="color:darkgreen;;">5.Data Analytics Testing</h1>
                    <img src="{% static 'landing_page/assets/img/data.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                
                <p style="font-size:large;"> Data Analytics testing services include source to target and data quality validations. An ETL tool Extracts the data from heterogeneous data sources (like relational databases, CSV, spreadsheets, etc.), Transforms the data (applying calculations, mapping data fields, etc.), and Loads it into a Data Warehouse system.<br> You can then use various Business Intelligence (BI) tools to generate meaningful reports, dashboards, and visualizations

                  <br><p style="font-size:large;">  Support for Big Data is growing continually and exponentially. Most ETL tools now provide data integration solution for Big Data.
                    </p>
                   <p style="font-size:large;"> The primary objective of ETL testing is to identify and mitigate data quality issues and general errors that occur before processing of data for analytical reporting.<br> ETL can pollute the entire system if it is done wrong.
                    </p>
                   <p style="font-size:large;"> Being industry experts in analytics testing, we have the acumen in performing activities ranging from Reviewing Data model right up to Data integrity and quality checks in the target system.
                    
                    </p>
                           
                    </div>
                  
                    <div class="project6">
                        
                        <h1 style="color:darkgreen;">6.Manual Testing</h1>
                        <img src="{% static 'landing_page/assets/img/manual.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                    
                    <p style="font-size:large;">Even today, in our automated existence, the human mind, and human endeavor can often trump a computer program. As software complexity increases drastically—year after year—and the amount of cookies grows, the need for expert testing services increases. 
                        <br>While automated testing certainly has many fantastic merits, there is still a real need for quality, human-powered, manual software testing. 
                        <p style="font-size:large;">It, among all of its other quality services, is an exceptional manual testing company.
                        <br>   As applications and software increase in their overall complexity, so do bugs.</p>
                        <p style="font-size:large;"> Often, clients will opt for automated testing services because of the speed, cost, and convenience. Although it delivers the best automated testing available, our manual testing services offer increased debugging. 
                        Sometimes you can’t find bugs without a fine-tooth comb. Our manual testing is as fine as it gets.</p>
                        
                                
                        </div>
                      
    
                        <div class="project7">
                        
                            <h1 style="color:darkgreen;">7.Performance Testing</h1>
                            <img src="{% static 'landing_page/assets/img/performance.jpg' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                        
                        <p style="font-size:large;"> Performance testing of your applications is of the utmost importance to ensure a successful product. Oftentimes, performance-related bugs aren’t discovered until the application goes live. This can be horribly damaging to your business’ reputation. 
                            Proper performancing testing is absolutely vital to avoid this kind of catastrophic and embarrassing scenario. 
                            It makes sure your application is functioning at peak performance.
                          <p style="font-size:large;">   At our company, we’ve built our reputation on our superior performance testing services. We guarantee a smooth landing for your product. We test and predict application performance in real-life, and simulated scenarios. This is the KEY to our success. 
                             Without using real-life scenarios, you can’t properly ascertain where bugs and faults may lie. </p>
                          <p style="font-size:large;">   With our company's performance testing, we ensure you application is responsible and reliable enough to respond at peak times—whether a summer sale, or a Black Friday special.
                            
                          <br>  Our goal is to deliver exceptional performance testing using our expertise and finely tuned technical skills. We strive to have your business applications running as smoothly as they can. Your customer’s seamless experience matters—that’s why we make it our top priority. It is the best in the business at what we do—delivering stellar performance testing.
                            </p>
                            
                            
                                   
                            </div>
                            <div class="project8">
                        
                                <h1 style="color:darkgreen;">8.Accessibility Testing</h1>
                                <img src="{% static 'landing_page/assets/img/accessibility.png' %}" style="height:300px;width:400px;" class="img-fluid" alt="">
                            
                            <p style="font-size:large;"> With a 20% population being differently-abled, accessibility testing has now been made part of the standard testing lifecycle. Doing so allows ensuring your digital properties are inclusive to everyone and conform with installed guidelines. 
                                And at the same time as automated accessibility scanners may be suitable; however, they’re not able to determine out all problems. That’s where our human-driven approach can assist.</p>

                            <p style="font-size:large;">    We provide a complete suite of accessibility testing services, led through a group of specialists, that allows brands to determine weaknesses within their digital experiences, 
                            <br>solve problems quickly, and combine exceptional practices into regular </p>
                                
                                       
                                </div>
                            
        <div class="back">
          <h4><a  href="{% url 'index' %}" style="background-color: bisque;">BACK</a></h4>
        </div>
  </body>   
    </head>

</html>
